/* CSS Reset Code */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 0.5px solid green; */
}

/* Global and font styling */

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #f4f4f4;
}


/* Main content "card" */

.main_container {
    max-width: 900px;
    margin: 30px auto;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

/* Header */

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 2px solid #eee;
}

header h1 {
    color: #333;
}

header a {
    text-decoration: none;
    color: #d9534f;
    font-weight: bold;
}

/* Image and caption */

figure img {
    margin: auto;
    width: 50%;
    height: auto;
    display: block;
}

figure figcaption {
    padding: 10px;
    text-align: center;
    font-style: italic;
    color: #777;
}

figcaption a {
    color: #777;
    text-decoration: none;
    font-weight: bold;
}

/* Main content */

.recipe-body {
    padding: 30px;
}

.recipe-body > h2, p {
    line-height: 1.6;
}

.recipe-content-wrapper {
    display: flex;
}

.sidebar {
    flex-basis: 30%;
    background-color:#f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.main-content {
    flex-grow:1;
    padding-left: 30px;
    padding-top: 20px;
}

ul, ol {
    margin-left: 20px;
    line-height: 1.6;
}

/* Disclaimer footer */

.disclaimer {
    padding: 30px;
    border-top: 2px solid #eee;
    text-align: center;
    color: #888;
    font-style: italic;
    font-size: 0.9em;
}